<h1>Su carrito {{cart.id}} 🛒</h1>

{{#if cartsProducts}}
  <section class="cartContainer">
    {{#each cartsProducts}}
      <div class="cartProduct">
        <h3>Nombre: {{product.title}}</h3>
        <h4>Precio:{{product.price}}</h4>
        <h4>Cantidad: {{quantity}}</h4>
        <div>
          <button class="plusButton" id="plusOne">+</button>
          <button class="minusButton" id="minusOne">-</button>
        </div>
      </div>
    {{/each}}
    <h2><a class="finish" href="">Terminar compra</a></h2>
  </section>
{{else}}
  <h3>No hay productos agregados!</h3>
{{/if}}